# Day 1

In [1]:
ls

06_Probability_Distributions_1/
07_Probability_Distributions_2/
Data Via conti..ipynb
Data Viz with seaborn.ipynb
Data_Vizzzzzz.ipynb
MatplotLib conti. + Seaborn.ipynb
Matplotlib.ipynb
Matplotlib_Revision.ipynb
Netflix project.ipynb
Numpy Final-Cut.ipynb
Numpy Final.ipynb
Pandas Final-Cut.ipynb
Pandas_4.ipynb
Pandas_5.ipynb
Pandas_Rev_conti.ipynb
Pandas_Revision.ipynb
Pfizer_1.csv
Probability Day 1.ipynb
Probability Day 2.ipynb
Probability basic defination.ipynb
Probablity 1 retake.ipynb
These Are the 25 Smartest Dog Breeds, According to Science.jpeg
Think Stats, 2nd Edition_ Exploratory Data Analysis ( PDFDrive ).pdf
Untitled.ipynb
clouds-2627945.jpg
directors.csv
drive.google.com/
figure.png
fit.txt
gapminder.csv
jupyterthemes.ipynb
movies.csv
numpy_pandas_revision.ipynb
prob_01_basic_definitions/
survey.txt

In [2]:
!gdown 1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_

Downloading...
From: https://drive.google.com/uc?id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_
To: /Users/jitendranathmahato/Downloads/Scaler/mckinsey.csv
100%|██████████████████████████████████████| 83.8k/83.8k [00:00<00:00, 26.7MB/s]

In [3]:
ls

06_Probability_Distributions_1/
07_Probability_Distributions_2/
Data Via conti..ipynb
Data Viz with seaborn.ipynb
Data_Vizzzzzz.ipynb
MatplotLib conti. + Seaborn.ipynb
Matplotlib.ipynb
Matplotlib_Revision.ipynb
Netflix project.ipynb
Numpy Final-Cut.ipynb
Numpy Final.ipynb
Pandas Final-Cut.ipynb
Pandas_4.ipynb
Pandas_5.ipynb
Pandas_Rev_conti.ipynb
Pandas_Revision.ipynb
Pfizer_1.csv
Probability Day 1.ipynb
Probability Day 2.ipynb
Probability basic defination.ipynb
Probablity 1 retake.ipynb
These Are the 25 Smartest Dog Breeds, According to Science.jpeg
Think Stats, 2nd Edition_ Exploratory Data Analysis ( PDFDrive ).pdf
Untitled.ipynb
clouds-2627945.jpg
directors.csv
drive.google.com/
figure.png
fit.txt
gapminder.csv
jupyterthemes.ipynb
mckinsey.csv
movies.csv
numpy_pandas_revision.ipynb
prob_01_basic_definitions/
survey.txt

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("mckinsey.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [8]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df["country"]

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [7]:
df.country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [9]:
type(df["country"])

pandas.core.series.Series